{% load i18n rules %}
{% has_perm "columns.move_columns" user project as can_move_columns %}
<div class="lg:flex lg:overflow-x-auto lg:whitespace-no-wrap "
     {% spaceless %}
     {% if can_move_columns %}
     data-controller="drag"
     data-drag-group="shared-columns"
     data-drag-url="{% url 'columns:move_columns' project.id %}"
     {% endif %}{% endspaceless %}>
  {% for column in columns %}
  <div class="mb-1 lg:mb-0 lg:mr-1 border{% if can_move_columns %} draggable{% endif %}"
       {% spaceless %}
       {% if can_move_columns %}
       data-target="drag.draggable"
       data-group="shared-columns"
       data-id="{{ column.id }}"
       {% endif %}{% endspaceless %}>
    <div class="bg-gray-100 flex justify-center font-bold text-lg lg:w-64 p-2">
      <a href="{{ column.get_absolute_url }}"
         class="text-blue-800 hover:text-blue-600 underline">
        {{ column.name }}
      </a>
    </div>
    <div class="p-2 bg-white"
         data-controller="drag"
         data-drag-group="shared-tasks"
         data-drag-url="{% url 'cards:move_cards' column.id %}">
      {% for card in cards %}
      {% if card.column == column %}
      {% include "projects/_card.html" %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
