{% load i18n rules %}
{% has_perm "cards.move_card" user card as can_move_card %}
<div class="p-2 mb-3 border rounded bg-blue-500 text-white{% if can_move_card %} draggable{% endif %}"
     {% spaceless %}
     {% if can_move_card %}
     data-id="{{ card.id }}"
     data-group="shared-tasks"
     data-target="drag.draggable"
     {% endif %}{% endspaceless %}>
  <div class="mb-1">
    <a href="{{ card.get_absolute_url }}"
       class="underline font-bold">{{ card.name }}</a>
  </div>
  <div>
    <span class="font-semibold"
          title="{% translate 'Priority' %}">P {{ card.priority }}</span> /
    <span class="font-semibold"
          title="{% translate 'Complexity' %}">C {{ card.complexity }}</span> /
    <span class="font-semibold"
          title="{% translate 'Estimated Hours' %}">H {{ card.hours_estimated }}</span>
  </div>
</div>
