{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="sm:flex items-center justify-between mb-3">
  <h1 class="text-xl font-bold mb-3 sm:mb-0">{{ project.name }}</h1>
  <div class="sm:flex items-center">
    <a href="{% url 'cards:create_card' project.id %}"
       class="px-4 py-1 rounded border bg-white hover:bg-gray-100 sm:mr-2 mb-1 sm:mb-0 block w-full sm:w-auto">
      <i class="fa fa-plus mr-2"></i>{% translate "Add Card" %}
    </a>
    <a href=""
       class="px-4 py-1 rounded border bg-white hover:bg-gray-100 sm:mr-2 mb-1 sm:m-0 block w-full sm:w-auto">
      <i class="fa fa-plus mr-2"></i>{% translate "Add Column" %}
    </a>
    <a href="{% url 'projects:edit_project' project.id %}"
       class="px-4 py-1 rounded border bg-white hover:bg-gray-100 block w-full sm:w-auto">
      <i class="fa fa-pen mr-2"></i>{% translate "Edit Project" %}
    </a>
  </div>
</div>

<div class="md:flex md:overflow-y-auto md:whitespace-no-wrap">
  {% for column in columns %}
  <div class="mb-1 md:mb-0 md:mr-1 md:w-1/4 border">
    <div class="bg-gray-100 flex items-center justify-start md:justify-center font-bold text-lg p-2">
      {{ column.name }}
      <a class="ml-2 focus:outline-none"
         title="Add New Card"
         href="{% url 'cards:create_card_for_column' project.id column.id %}">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <div class="p-2 bg-white"
         data-controller="drag"
         data-drag-group="shared"
         data-drag-limit="{{ project.task_limit }}"
         data-drag-url="{% url 'cards:move_cards' column.id %}">
      {% for card in cards %}
      {% if card.column == column %}
      <div class="p-2 mb-3 border rounded bg-blue-500 text-white h-12 item"
           data-id="{{ card.id }}"
           data-target="drag.draggable">
        <a href="{{ card.get_absolute_url }}"
           class="underline">{{ card.name }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
