{% extends "base.html" %}
{% load i18n account rules widget_tweaks %}

{% block content %}
{% include "_breadcrumbs.html" %}

<h1 class="text-xl font-bold mb-3">{% user_display user_obj %}</h1>

{% if member %}

{% has_perm "projects.change_member_role" user member as can_change_member_role %}
{% has_perm "projects.remove_member" user member as can_remove_member %}

<div class="flex items-center mb-3"
     data-controller="toggle">
  <h2 class="text-lg font-semibold mr-4"
      data-target="toggle.item">{{ member.get_role_display }}</h2>
  {% if can_change_member_role %}
  <button class="rounded px-2 py-1 border hover:bg-gray-100 mr-4"
          data-action="toggle#toggle"
          data-target="toggle.item">
    <i class="fa fa-pen mr-2"></i>
    {% translate "Edit" %}
  </button>
  {% if can_remove_member %}
   <button class="rounded px-2 py-1 border hover:bg-red-100 border-red-800 text-red-800"
          data-controller="ajax"
          data-action="ajax#post"
          data-target="toggle.item"
          data-ajax-confirm="{% translate 'Are you sure you want to remove this member from the project?' %}"
          data-ajax-url="{% url 'projects:remove_member' member.id %}">
    <i class="fa fa-times mr-2"></i>
    {% translate "Remove" %}
  </button>
  {% endif %}
  <div class="hidden"
       data-target="toggle.item">
    <form data-controller="form"
          data-action="form#submit"
          method="post"
          action="{% url 'projects:change_member_role' member.id %}">
      {% render_field member_role_form.role class="" %}
      <div class="flex items-center">
        <button class="text-blue-800 hover:text-blue-600 mr-4"
                data-action="form#reset toggle#toggle">
          {% translate "Cancel" %}
          <button type="submit"
                  class="text-white bg-blue-800 hover:bg-blue-600 px-2 py-1 rounded">
            {% translate "Save" %}
          </button>
        </button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% else %}
<h2 class="text-lg font-semibold mb-3">{% translate "Project Owner" %}</h2>
{% endif %}



{% if owned_cards %}
<h2 class="text-lg font-semibold mb-3">{% translate "Owned Cards" %}</h2>
<table class="table-auto p-3 w-full border mb-3">
  <thead>
    <tr class="bg-gray-100 text-left">
      <th class="p-2">{% translate "Card" %}</th>
      <th class="p-2">{% translate "Assignee" %}</th>
      <th class="p-2">{% translate "Column" %}</th>
      <th class="p-2">{% translate "Priority" %}</th>
      <th class="p-2">{% translate "Complexity" %}</th>
      <th class="p-2">{% translate "Estimated Hours" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for card in owned_cards %}
    <tr class="hover:bg-gray-100">
      <td class="p-2">
        <a href="{{ card.get_absolute_url }}"
           class="text-blue-800 hover:text-blue-600 underline">{{ card.name }}</a>
      </td>
      <td class="p-2">
        {% if card.assignee %}
        <a href="{% url 'projects:member_detail' project.id card.assignee.username %}"
           class="text-blue-800 hover:text-blue-600">
          {% user_display card.assignee %}
        </a>
        {% else %}
        {% translate "Unassigned" %}
        {% endif %}
      </td>
      <td class="p-2">
        <a href="{{ card.column.get_absolute_url }}"
           class="text-blue-800 hover:text-blue-600">
          {{ card.column.name }}
        </a>
      </td>
      <td class="p-2">{{ card.priority }}</td>
      <td class="p-2">{{ card.complexity }}</td>
      <td class="p-2">{{ card.hours_estimated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if assigned_cards %}
<h2 class="text-lg font-semibold mb-3">{% translate "Assigned Cards" %}</h2>
<table class="table-auto p-3 w-full border mb-3">
  <thead>
    <tr class="bg-gray-100 text-left">
      <th class="p-2">{% translate "Card" %}</th>
      <th class="p-2">{% translate "Owner" %}</th>
      <th class="p-2">{% translate "Column" %}</th>
      <th class="p-2">{% translate "Priority" %}</th>
      <th class="p-2">{% translate "Complexity" %}</th>
      <th class="p-2">{% translate "Estimated Hours" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for card in assigned_cards %}
    <tr class="{% if not forloop.last %} border-b{% endif %}">
      <td class="p-2">
        <a href="{{ card.get_absolute_url }}"
           class="text-blue-800 hover:text-blue-600 underline">{{ card.name }}</a>
      </td>
      <td class="p-2">
        <a href="{% url 'projects:member_detail' project.id card.owner.username %}"
           class="text-blue-800 hover:text-blue-600">
          {% user_display card.owner %}
        </a>
      </td>
      <td class="p-2">
        <a href="{{ card.column.get_absolute_url }}"
           class="text-blue-800 hover:text-blue-600">
          {{ card.column.name }}
        </a>
      </td>
      <td class="p-2">{{ card.priority }}</td>
      <td class="p-2">{{ card.complexity }}</td>
      <td class="p-2">{{ card.hours_estimated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock content %}
