{% extends "base.html" %}
{% load i18n account rules pagination %}

{% block content %}
<div class="text-sm flex items-center mb-3">
  <a href="{% url 'projects:projects_overview' %}"
     class="text-blue-800 hover:text-blue-600 mr-2">Projects</a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <a href="{{ project.get_absolute_url }}"
     class="text-blue-800 hover:text-blue-600 mr-2">
    {{ project.name }}
  </a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <span class="text-gray-500">
    {% translate "Users and Permissions" %}
  </span>
</div>
<div class="flex items-center justify-between mb-3">
  <h1 class="text-xl font-bold">{% translate "Users and Permissions" %}</h1>
  {% has_perm "projects.add_members" user project as can_add_members %}
  {% if can_add_members %}
  <a href="{% url 'invites:send_invites' project.id %}"
     class="px-4 py-1 rounded border hover:bg-gray-100">
    <i class="fa fa-envelope mr-2"></i>
    {% translate "Invite New Users" %}
  </a>
  {% endif %}
</div>

{% paginate members as page_obj %}
<table class="table-auto border p-3 w-full bg-white rounded">
  <thead>
    <tr class="bg-gray-100 text-left">
      <th class="p-2">{% translate "User" %}</th>
      <th class="p-2">{% translate "Role" %}</th>
    </tr>
  </thead>
  <tbody>
    {% if project.owner and page_obj.number == 1 %}
    <tr class="hover:bg-gray-100">
      <td class="p-2">
        <a href="{% url 'projects:member_detail' project.id project.owner.username %}"
           class="text-blue-800 hover:text-blue-600">
          {% user_display project.owner %}
        </a>
      </td>
      <td class="p-2 font-semibold">
        {% translate "Owner" %}
      </td>
    </tr>
    {% endif %}
    {% for member in page_obj %}
    <tr class="hover:bg-gray-100">
      <td class="p-2">
        <a href="{{ member.get_absolute_url }}"
           class="text-blue-800 hover:text-blue-600">
          {% user_display member.user %}
        </a>
      </td>
      <td class="p-2">
        {{ member.get_role_display }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
