{% extends "base.html" %}
{% load i18n account pagination %}

{% block content %}

<div class="sm:flex items-center justify-between mb-3">
  <h1 class="text-xl font-bold mb-3 sm:mb-0">{% translate "Projects Overview" %}</h1>
  <a href="{% url 'projects:create_project' %}"
     class="px-4 py-1 rounded border bg-white hover:bg-gray-100">
    <i class="fa fa-plus mr-2"></i>{% translate "New Project" %}
  </a>
</div>

{% paginate projects as page_obj %}
<table class="table-auto border p-3 w-full bg-white rounded">
  {% if projects %}
  <thead>
    <tr class="bg-gray-100 text-left">
      <th class="p-2">{% translate "Project" %}</th>
      <th class="p-2">{% translate "Owner" %}</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
    {% for project in page_obj %}
    <tr class="{% if not forloop.last %} border-b{% endif %}">
      <td class="p-2">
        <a href="{{ project.get_absolute_url }}"
           class="text-blue-800 hover:text-blue-600">{{ project.name }}</a>
      </td>
      <td class="p-2">
        {% user_display project.owner %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2"
          class="flex justify-center w-full p-2">{% translate "You don't have any projects yet" %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "_pagination.html" %}
{% endblock content %}
