{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="text-sm flex items-center mb-3">
  <a href="{% url 'projects:projects_overview' %}"
     class="text-blue-800 hover:text-blue-600 mr-2">Projects</a>
  <span class="text-gray-500 mr-2">&gt;</span>
  {% if project %}
  <a href="{{ project.get_absolute_url }}"
     class="text-blue-800 hover:text-blue-600 mr-2">
    {{ project.name }}
  </a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <span class="text-gray-500">{% translate "Edit Project" %}</span>
  {% else %}
  <span class="text-gray-500">{% translate "New Card" %}</span>
  {% endif %}
</div>


<h1 class="text-xl font-bold mb-3">
  {% if project %}
  {% translate "Edit Project" %}
  {% else %}
  {% translate "New Project" %}
  {% endif %}
</h1>
<form class="p-3 bg-white border rounded w-full lg:w-2/3{% if form.errors %} border-red-800{% endif %}"
      data-controller="form"
      data-action="form#submit"
      method="post"
      action="{{ request.path }}"
      novalidate>
  {% csrf_token %}
  {% with WIDGET_ERROR_CLASS="border-red-800 text-red-800" %}
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.name.label }}
      {% render_field form.name class="p-1 w-full lg:w-96 lg:ml-3" %}
    </label>
    {% include "_form_errors.html" with errors=form.name.errors %}
    {% include "_form_help_text.html" with help_text=form.name.help_text %}
  </div>
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.description.label }}
      {% render_field form.description class="p-1 w-full"  %}
    </label>
    {% include "_form_errors.html" with errors=form.description.errors %}
    {% include "_form_help_text.html" with help_text=form.description.help_text %}
  </div>
  <div class="mb-3">
    <label class="font-semibold">
      {% translate "Private Project?" %}
      {% render_field form.is_private class="ml-3" %}
    </label>
    {% include "_form_help_text.html" with help_text=form.is_private.help_text %}
  </div>
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.task_limit.label }}
      {% render_field form.task_limit class="p-1 w-32 ml-3"  %}
    </label>
    {% include "_form_errors.html" with errors=form.task_limit.errors %}
    {% include "_form_help_text.html" with help_text=form.task_limit.help_text %}
  </div>
  {% endwith %}
  <div class="flex items-center justify-end">
    {% if project %}
    <a href="{{ project.get_absolute_url }}"
       class="text-blue-800 hover:text-blue-600 mr-4">{% translate "Cancel" %}</a>
    {% endif %}
    <button type="submit"
            class="px-4 py-2 rounded bg-blue-800 hover:bg-blue-600 text-white">
      {% if project %}
      {% translate "Save Project" %}
      {% else %}
      {% translate "Create Project" %}
      {% endif %}
    </button>
  </div>
</form>
{% endblock %}
