{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="text-sm flex items-center mb-3">
  <a href="{% url 'projects:projects_overview' %}"
     class="text-blue-800 hover:text-blue-600 mr-2">Projects</a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <a href="{{ project.get_absolute_url }}"
     class="text-blue-800 hover:text-blue-600 mr-2">
    {{ project.name }}
  </a>
  <span class="text-gray-500 mr-2">&gt;</span>
  {% if column %}
  <a href="{{ column.get_absolute_url }}"
     class="text-blue-800 hover:text-blue-600 mr-2">
    {{ column.name }}
  </a>
  <span class="text-gray-500 mr-2">&gt;</span>
  {% endif %}
  {% if card %}
  <a href="{{ card.get_absolute_url }}"
     class="text-blue-800 hover:text-blue-600 mr-2">
    {{ card.name }}
  </a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <span class="text-gray-500">{% translate "Edit Card" %}</span>
  {% else %}
  <span class="text-gray-500">{% translate "New Card" %}</span>
  {% endif %}
</div>

<h1 class="text-xl font-bold mb-3">
  {% if card %}
  {% translate "Edit Card" %}
  {% else %}
  {% translate "New Card" %}
  {% endif %}
</h1>
<form class="p-2 lg:p-3 bg-white border rounded w-full lg:w-2/3{% if form.errors %} border-red-800{% endif %}"
      data-controller="form"
      data-action="form#submit"
      method="post"
      action="{{ request.path }}"
      novalidate>
  {% csrf_token %}
  {% with WIDGET_ERROR_CLASS="border-red-800 text-red-800" %}
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.name.label }}
      {% render_field form.name class="p-1 w-full lg:w-96 lg:ml-3" %}
    </label>
    {% include "_form_errors.html" with errors=form.name.errors %}
  </div>
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.column.label }}
      {% render_field form.column class="p-1 lg:ml-3 w-full lg:w-64" %}
    </label>
    {% include "_form_errors.html" with errors=form.column.errors %}
  </div>
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.assignee.label }}
      {% render_field form.assignee class="p-1 lg:ml-3 w-full lg:w-64" %}
    </label>
    {% include "_form_errors.html" with errors=form.assignee.errors %}
  </div>
  <div class="mb-3">
    <label class="font-semibold">
      {{ form.description.label }}
      {% render_field form.description class="p-1 w-full" %}
    </label>
    {% include "_form_errors.html" with errors=form.description.errors %}
  </div>
  <div class="mb-3 md:flex">
    <div class="mb-3 md:mr-2 md:mb-0">
      <label class="font-semibold">
        {{ form.complexity.label }}
        {% render_field form.complexity class="p-1 w-full lg:w-32 lg:ml-1" %}
      </label>
      {% include "_form_errors.html" with errors=form.complexity.errors %}
    </div>
    <div class="mb-3 md:mr-2 md:mb-0">
      <label class="font-semibold">
        {{ form.priority.label }}
        {% render_field form.priority class="p-1 w-full lg:w-32 lg:ml-1" %}
      </label>
      {% include "_form_errors.html" with errors=form.priority.errors %}
    </div>
    <div>
      <label class="font-semibold">
        {{ form.hours_estimated.label }}
        {% render_field form.hours_estimated class="p-1 w-full lg:w-32 lg:ml-1" %}
      </label>
      {% include "_form_errors.html" with errors=form.hours_estimated.errors %}
    </div>
  </div>
  {% endwith %}
  <div class="flex justify-end items-center">
    <a href="{% if card %}{{ card.get_absolute_url }}{% elif column %}{{ column.get_absolute_url }}{% else %}{{ project.get_absolute_url }}{% endif %}"
       class="text-blue-800 hover:text-blue-600 mr-4">{% translate "Cancel" %}</a>
    <button type="submit"
            class="px-4 py-2 rounded bg-blue-800 hover:bg-blue-600 text-white">
      {% if card %}
      {% translate "Save Card" %}
      {% else %}
      {% translate "Create Card" %}
      {% endif %}
    </button>
  </div>
</form>
{% endblock %}
