{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="text-sm flex items-center mb-3">
  <a href="{% url 'projects:projects_overview' %}"
     class="text-blue-800 hover:text-blue-600 mr-2">Projects</a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <a href="{{ card.project.get_absolute_url }}"
     class="text-blue-800 hover:text-blue-600 mr-2">
    {{ card.project.name }}
  </a>
  <span class="text-gray-500 mr-2">&gt;</span>
  <span class="text-gray-500">{{ card.name }}</span>
</div>

<div class="sm:flex items-center justify-between mb-3">
  <h1 class="text-xl font-bold mb-3 sm:mb-0">{{ card.name }}</h1>
  <div class="sm:flex items-center">
    <a href="{% url 'cards:create_card_for_column' card.project.id card.column.id %}"
       class="px-4 py-1 rounded border bg-white hover:bg-gray-100 sm:mr-2 mb-1 sm:mb-0 block w-full sm:w-auto">
      <i class="fa fa-plus mr-2"></i>{% translate "Add Another Card" %}
    </a>
    <a href=""
       class="px-4 py-1 rounded border bg-white hover:bg-gray-100 block w-full sm:w-auto sm:mr-2 mb-1 sm:mb-0 block w-full sm:w-auto">
      <i class="fa fa-pen mr-2"></i>{% translate "Edit Card" %}
    </a>
    <button class="px-4 py-1 rounded border bg-white hover:bg-red-100 block w-full sm:w-auto border-red-800 text-red-800">
      <i class="fa fa-trash mr-2"></i>{% translate "Delete Card" %}
    </button>
  </div>
</div>

{% endblock content %}
